*{
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.divisao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    max-width: 50%;
    height: 35rem;
    width: max-content;
    padding: 0.4rem;
    
}
.on{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    max-width: max-content;

}
.fo{
    margin-top: -1rem;
    color: #fff;
    font-weight: 900;
}
h5{
    color:rgb(69, 152, 224)
}
.bt1{
    outline: none;
    background-color: transparent;
    color: #fff;
    border:solid 2px #fff;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 700;
}

.bt1:hover{
    background: #ffffff;
    border: solid 2px #133bdf;
    color: #000000;
   
}