*{
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.divisao{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 100%;
    flex-wrap: wrap;
    margin-top: 2rem;
}
.nav{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    max-width: 50%;
    height: 35rem;
    width: max-content;
    padding: 0.4rem;
    border-radius: 40px 0 0 40px;
    
}
.on{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 60%;
    max-width: 100%;
    width: 100%;
    cursor: pointer;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    max-width: max-content;

}
.fo{
    margin-top: -1rem;
    color: #d0cbcb;
    font-weight: 900;
}
h5{
    color:rgb(29, 134, 225);
}
.preco{
    margin-left: 4rem;
}
#resultado{
    outline: none;
    height: 1.3rem;
}
@keyframes info {
    0%{
        background: #fff;
        color:#000000;
    }
    50%{
        background:#2e57f7;
        color:#fff
    }
    100%{
        background: #18308f;
        color:#fff;
    }
}
.bt1:hover{
    background: #ffffff;
    border: solid 2px #133bdf;
    color: #000000;
   
}


.pickAdd{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 0.2rem;
    max-width: 50%;
    height: 35rem;
    width: 100%;
    padding: 0.4rem;
    background-color: #222421;
    transition: 1s;
    border-radius: 0 40px 40px 0;
}
h1{
    font-size: 2.5rem;
    color:#9a9a9c;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
h3{
    font-size: 1rem;
    color:#7a94f4;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 900;
}
p{
    margin-top: -1rem;
    color:#bfbfbf;  
    
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.add{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width:100%; 
    width: max-content;
    height: 25.8rem;
    margin-top: -1rem;
    cursor: pointer;
}

.ret1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    transition: 1s;
    cursor: pointer; 

    border-radius: 0 40px 0 0;
}
.ret2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    transition: 1s;
    cursor: pointer; 
    border-radius: 0 40px 0 0;
}
.ret3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: max-content;
    transition: 1s;
    cursor: pointer; 
    border-radius: 0 40px 0 0;
}
.ret1:hover{
    background: #ae8a13;
}

.ret2:hover{
    background: #bb1a3d;
}
.ret3:hover{
    background: #ca125f;
}
.divBotao{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    width:100%;
    gap: 100px;
    margin-top: -2rem;
    transition: 1s;
}
.bt2{
    width: max-content;
    height: 2.4rem;
    outline: none;
    color: #fff;
    background: #18308f;
    border: none;
    cursor: pointer;
    border-radius: 7px;
    font-weight: 800;
    transition: 0.5s;
}

.bt2:hover{
    background: #133bdf;
}
a{
    color:#fff;
    text-decoration: none;
}

@keyframes info {
    0%{
        background: #fff;
        color:#000000;
    }
    50%{
        background:#2e57f7;
        color:#fff
    }
    100%{
        background: #18308f;
        color:#fff;
    }
}
@media (max-width:580px){
    .add{
        justify-content: space-around;
        flex-wrap: wrap;
    }
}
@media (max-width:580px){
    .divisao{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
       margin-top: -0.1rem;
       
   }
   .add{
    margin-top: 1rem;
   }
   .nav{
       display: flex;
       justify-content: space-around;
       align-items: start;
       flex-direction: row;
       height: 8rem;
       width: 100%;
       background-color: #2e57f7;
       max-width: max-content;
       margin-left: -0.5rem;
       border-radius: 0;
    }
    .divBotao{
        margin-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items: center;
        gap: 100px;
        transition: 1s;
    }
   .on{
       display: flex;
       justify-content: center;
       align-items: center;
       flex-direction: column;
   }
   .pickAdd{
    display: flex;
    flex-direction: column;
    margin-left: -1rem;
    justify-content: start;
    align-items: center;
    max-width: max-content;
    margin-top: -2rem;
    border-radius: 0 0 40px 40px;
    height: 38rem;
   }
   .add{
    height: 33rem;
   }
   }
